/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-feb-2017, 11:12:13
    Author     : pasito
*/
@media print {
    table{
        width: 100%;
        margin: 0 auto;
    }
    h3{
        margin-top: 50px;
    }
}